body {
    background-image: url('https://pjsekai.sega.jp/assets/images/special/download/virtual-bg/virtual_bg_01_unit06.png');
    color:black;
    width:auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font: size 108px; ;
}
button {
    padding: 5px 20px;
    background-color: #337ab7;
    color:#fdffff;
    border-style: none;
    
}
input {
    height: 20px;
}
.explain {
    font-size: 108px;
font-family: 'Sawarabi Mincho', sans-serif;
}
